<div class="card">
    <!-- Header -->
    <div class="card-header">
      <div class="header-icon" [ngClass]="icon"></div>
      <div class="header-content">
        <div class="title">{{ title }}</div>
        <div class="subtitle" *ngIf="subtitle">{{ subtitle }}</div>
      </div>
    </div>
  
    <!-- Body -->
    <div class="card-body">
      <ng-content select=".card-body-content"></ng-content>
    </div>
  
    <!-- Footer -->
    <div class="card-footer" *ngIf="hasFooterContent()">
      <ng-content select=".card-footer-content"></ng-content>
    </div>
  </div>
  